.list__todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__todo > input {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.list__todo > input:focus {
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 355);
}

.box__todo-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
